@charset "UTF-8";

:root {
    font-size: 16px;
}

html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: lemonchiffon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
}

* {
    box-sizing: inherit;
}

section {
    border-radius: 1em;
    box-shadow: 8px 8px 16px hsla(0, 0%, 20%, 0.5);
    text-align: center;
    background-color: white;
    padding: 2em;
}

.carousel-window {
    border: 1px solid;
    overflow: hidden;
}

#css-carousel, #js-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    position: relative;
}

#css-carousel {
    margin-bottom: 2em;
}

h1 {
    margin: 0;
}

button {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 3rem;
    text-shadow: 3px 3px hsla(0, 0%, 20%, 0.5);
}

button:hover {
    color: hsl(0, 0%, 80%);
}

button:active {
    color: hsl(0, 0%, 50%);
    transform: translateY(2px);
    text-shadow: none;
}

#css-imgSlider, #js-imgSlider {
    width: 300px;
    display: flex;
}

#css-imgSlider {
    animation: 8s slidingAnimation infinite;
}

.left-btn {
    position: absolute;
    left: 5%;
    top: 50%;
}

.right-btn {
    position: absolute;
    right: 5%;
    top: 50%;
}

/* Keyframes */

@keyframes slidingAnimation {
    0% { transition: ease-in-out; transform: translateX(0); }
    25% { transition: ease-in-out; transform: translateX(-300px); }
    50% { transition: ease-in-out; transform: translateX(-600px); }
    75% { transition: ease-in-out; transform: translateX(-900px); }
    100% { transition: ease-in-out; transform: translateX(-1200px); }
}